:root {

  --ds-grey: #2F4F4F;
  --ls-grey: #778899;
  --white: #ffff;
  --black: #000;
  --orange: #ffa500;
}

* {
  font-family: 'Jura', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Navbar **/
.logo {
  width: 4.6875rem;
  /** margin-left: 1.25rem; **/
}

/** Menu links **/
nav a.nav-link {
  /** font-weight: 500; **/
  font-size: x-large;
  letter-spacing: 0.0375rem;
  /** margin-right: 0.9375rem; **/
}

.navbar-nav >li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}


/** About Us **/
.container-fluid {
  background: var(--ds-grey);
  padding: 3rem 0;
}

.textWrap {
  color: var(--white);
}


.photoWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-img {
  width: 25rem;
  border-radius: 20%;
  padding: .3rem;
  border: 1px solid var(--ds-grey);
}

@media(max-width: 468px) {
  .team-img {
    width: 10rem;
  }
}

/** Home **/
.mikophotoWrap {
  display: flex;
  justify-content: center;
  align-items: left;
}

.Miko-img {
  width: 40rem;
  height: 30rem;
  padding: 0.1rem;
  border: 1px solid var(--ds-grey);
  border-radius: 10px 10px 10px 10px;
}

@media(max-width: 468px) {
  .Miko-img {
    width: 10rem;
  }
}

.intro-text {
  text-align: left, right;
  font-size: medium;
}

/** Dogs Database **/
.database-wrapper {
  background: var(--ds-grey);
  padding: 3rem 0;
}

.database-wrapper h2{
  color: var(--white);
}

.dog-img {
  width: 25rem;
  border-radius: 10px 10px 0 0;
}

.dog-img-box {
  position: relative;
  border: 1px solid var(--orange);
  margin: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 10px 10px 10px 10px;
}

.dog-text {
  color: var(--white);
  font-size: small;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.sponsor-btn {
  background-color: var(--white);
  font-size: medium;
  font-weight: bold;
  font-style: bold;
  height: 50px;
  margin-top: 5px;
  border-radius: 2px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1rem;
  width: 40%;
}

.database-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--orange);
  font-size: 1.5rem;
}

/** Signup Form **/

.form-container {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  right: 50px;
  border-radius: 5px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-content-left {
  background: linear-gradient(
    90deg,
    rgb(110, 186, 236) 0%,
    rgb(161, 192, 238) 100%
  );
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-img-2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
  background: linear-gradient(90deg, rgb(119,136,153) 0%, rgb(47,79,79) 100%);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #ffa500;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(3, 163, 75) 0%,
    rgb(144, 146, 1) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}
